@import url("//at.alicdn.com/t/font_1878848_kz5vm9yapoc.css");

html, body {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
  /* 去除a标签点击高亮效果 */
  -webkit-tap-highlight-color: transparent;
}

.border-1px {
  position: relative;
}

.border-1px::after {
  content: "";
  position: absolute;
  background-color: #ccc;
}

.border-bottom-1px::after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.border-top-1px::after {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}

.border-left-1px::after {
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}

.border-right-1px::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}

.elm-enter, .elm-leave-to {
  transform: translateX(100%);
}

.elm-enter-active, .elm-leave-active {
  transition: transform .2s linear;
}

.elm-enter-to, .elm-leave {
  transform: translateX(0);
}

.clear-fix::before, .clear-fix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

.fullscreen-fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  box-sizing: border-box;
  background-color: #fff;
}
