@import url("//at.alicdn.com/t/font_1878848_ndlt9ldm6o9.css");

html,
body {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
  /* 去除a标签点击高亮效果 */
  -webkit-tap-highlight-color: transparent;
}

/* util */
.border-1px {
  position: relative;
}

.border-1px::after {
  content: "";
  position: absolute;
  background-color: #ccc;
}

.border-bottom-1px::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.border-top-1px::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.border-left-1px::after {
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}

.border-right-1px::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}

.clear-fix::before,
.clear-fix::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

.fullscreen-fixed-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

/* transition */
.drawer-enter,
.drawer-leave-to {
  transform: translateX(100%);
}

.drawer-enter-active,
.drawer-leave-active {
  transition: transform .2s linear;
}

.drawer-enter-to,
.drawer-leave {
  transform: translateX(0);
}

/* 使用float需要考虑到目标el的样式情况，如使用了overflow之类的属性，会对浮动效果造成影响 */
.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform .2s linear;
}

.slide-left-leave-to {
  position: absolute;
  transform: translateX(-100%);
}

.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform .4s linear;
}

.slide-right-leave-to {
  position: absolute;
  transform: translateX(100%);
}
