@mixin border-1px {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $hairlineColor;
  }
}

@mixin border-bottom-1px {
  @include border-1px();

  &::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }
}

@mixin border-top-1px {
  @include border-1px();

  &::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }
}

@mixin border-left-1px {
  @include border-1px();

  &::after {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
  }
}

@mixin border-right-1px {
  @include border-1px();

  &::after {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
  }
}

@mixin single-line-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin expand {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: px2rem(-20);
  }
}

@mixin bg($url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
